*{
    box-sizing: border-box;
  }
  body,html{
    height:100%;
    width:100%;
    padding:0;
    margin:0;
    scroll-behavior: smooth;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  }
  
  .heaDer {
  
    /* The image used */
    display:flex;
    flex-direction: column;
    flex-wrap: nowrap;
    position:relative; 
    /* left :200px; */
    align-items: center;
    justify-content: center; 
    background-image: url('image/business2.jpeg'); 
    width:100%;
    width: 100vw; 
    min-height: 480px; 
    /* Center and scale the image nicely */ 
    background-position: center; 
    background-repeat: no-repeat;
    background-size: cover; 
  
    
  }
  
  /* Icon 1 */

.animated-icon1, .animated-icon2, .animated-icon3 {
    width: 30px;
    height: 20px;
    position: relative;
    margin: 0px;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
    cursor: pointer;
    }
    
    .animated-icon1 span, .animated-icon2 span, .animated-icon3 span {
    display: block;
    position: absolute;
    height: 3px;
    width: 100%;
    border-radius: 9px;
    opacity: 1;
    left: 0;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .25s ease-in-out;
    -moz-transition: .25s ease-in-out;
    -o-transition: .25s ease-in-out;
    transition: .25s ease-in-out;
    }
    
    .animated-icon1 span {
    background: #e65100;
    }
    
    .animated-icon2 span {
    background: #e3f2fd;
    }
    
    .animated-icon3 span {
    background: #f3e5f5;
    }
    
    .animated-icon1 span:nth-child(1) {
    top: 0px;
    }
    
    .animated-icon1 span:nth-child(2) {
    top: 10px;
    }
    
    .animated-icon1 span:nth-child(3) {
    top: 20px;
    }
    
    .animated-icon1.open span:nth-child(1) {
    top: 11px;
    -webkit-transform: rotate(135deg);
    -moz-transform: rotate(135deg);
    -o-transform: rotate(135deg);
    transform: rotate(135deg);
    }
    
    .animated-icon1.open span:nth-child(2) {
    opacity: 0;
    left: -60px;
    }
    
    .animated-icon1.open span:nth-child(3) {
    top: 11px;
    -webkit-transform: rotate(-135deg);
    -moz-transform: rotate(-135deg);
    -o-transform: rotate(-135deg);
    transform: rotate(-135deg);
    }
    
    /* Icon 3*/
    
    .animated-icon2 span:nth-child(1) {
    top: 0px;
    }
    
    .animated-icon2 span:nth-child(2), .animated-icon2 span:nth-child(3) {
    top: 10px;
    }
    
    .animated-icon2 span:nth-child(4) {
    top: 20px;
    }
    
    .animated-icon2.open span:nth-child(1) {
    top: 11px;
    width: 0%;
    left: 50%;
    }
    
    .animated-icon2.open span:nth-child(2) {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    }
    
    .animated-icon2.open span:nth-child(3) {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
    }
    
    .animated-icon2.open span:nth-child(4) {
    top: 11px;
    width: 0%;
    left: 50%;
    }
    
    /* Icon 4 */
    
    .animated-icon3 span:nth-child(1) {
    top: 0px;
    -webkit-transform-origin: left center;
    -moz-transform-origin: left center;
    -o-transform-origin: left center;
    transform-origin: left center;
    }
    
    .animated-icon3 span:nth-child(2) {
    top: 10px;
    -webkit-transform-origin: left center;
    -moz-transform-origin: left center;
    -o-transform-origin: left center;
    transform-origin: left center;
    }
    
    .animated-icon3 span:nth-child(3) {
    top: 20px;
    -webkit-transform-origin: left center;
    -moz-transform-origin: left center;
    -o-transform-origin: left center;
    transform-origin: left center;
    }
    
    .animated-icon3.open span:nth-child(1) {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    top: 0px;
    left: 8px;
    }
    
    .animated-icon3.open span:nth-child(2) {
    width: 0%;
    opacity: 0;
    }
    
    .animated-icon3.open span:nth-child(3) {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
    top: 21px;
    left: 8px;
    }  
    .navbar-light .navbar-toggler {
       color: rgba(0,0,0,.5); 
      border-color: rgba(0,0,0,.1);

  }
  .navbar-nav 
  {
    background-color:#fb7e84;
  }
  .nav-item a
  {
    color:white;
  }
    /* .navbar {
        position: relative;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        background: #3cba54;
        -ms-flex-align: center;
        align-items: center;
        -ms-flex-pack: justify;
        justify-content: space-between;
        padding: .5rem 1rem;
    } */
    .intro{
      display:flex;
      flex-direction: column;
      flex-wrap: nowrap;
      /* position:relative;  */
      /* left :200px; */
      align-items: center;
      justify-content: center; 
    }
.intro h1{

    color:#393939;
    font-size:42px;
    
}
.intro h3{
    font-size:17px!important;
}
.intro #button1 {
    /* background-color:#3cba54; */

    background-color:#f4c20d;
    border: none;
    color:white ;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 40px 2px;
    cursor: pointer;
    border-radius: 20px;
  }
  .intro #button1:hover {
    background-color: #8ab48a;
  }

  .company{
    display:flex;
    flex-direction: column;
    flex-wrap: nowrap;
    position:relative; 
    /* left :200px; */
    align-items: center;
    justify-content: center; 
    width:100%;
    width: 100vw; 
    min-height: 400px; 
  }
  .about{
      justify-content: center;
      text-align: center;
  }
  .about h2{
    color:#3cba54;
    position : relative;
    font-size:28px;
    /* bottom:40px;   */
    font-weight:normal; 
  }
  .about #button2 {
    /* background-color:#3cba54; */
    background-color:white;
    border: #3cba54 solid 3px;
    color:#3cba54;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 26px;
  }
  .about #button2:hover {
    background-color: #8ab48a;
    color:white;
  }
  .flex-container {
    display: flex;
    flex-wrap: nowrap;  /*A container with "flex-wrap: nowrap;*/
    background-color: white;
  }
  .container {
    position: relative;
    max-width: 800px; /* Maximum width */
    margin: 0 auto; /* Center it */
  }
  
  
/* Slideshow container */
.slideshow-container {
  /* display:flex;   */
  /* justify-content: center;
  align-items: center; */
  max-width: 600px;
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.mySlides {
  display: inline-block;
  border:#fb7e84 solid 10px;
  border-radius:15px;
  /* border:black solid 2px; */
}
.mySlides img{
  width:550px;
  height:300px;
}

/* Next & previous buttons */
.prev, .next {

  cursor: pointer;
  position: absolute;
  top: 40%;
  width: 20px;
  margin-top: -22px;
  padding: 10px;
  background:#fb7e84 ;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
  color:white;
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  display: inline-flex;
  cursor: pointer;
  height: 1.0rem;
  width: 1.0rem;
  text-decoration: none;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  margin: 0 0 0.5rem 0;
  position: relative;

  /* margin: 0 2px;
  
  border-radius: 50%; */
  background-color: #bbb;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}
/* .skewed {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background:#DCDEE6;
    z-index: 0;
    transform: skewY(6deg);
    transform-origin: top right;
  } */
  
.intropic{
display: flex;
 flex-direction: row; 
/* flex-wrap: wrap; */
/* border: black solid 3px; */
margin-top:50px;  
padding:30px 40px;
width:100%;
width:100vw;
height:auto;
/* background-color:#2b2b2b;  */

}
.contentClass{
/* keeping height and width auto so the content can be adjusted itself when differnt screens are used  */
flex:1;
padding: 20px 40px; 
box-sizing: border-box;
}

.contentClass h2{
/* color:#3cba54; */
color:#fb7e84;
font-size:28px;
font-weight:normal;

}
.imgCont{
flex:1;
height:auto;
justify-content: center;
/* border: red solid 3px; */
padding :30px 40px;
box-sizing: border-box;
margin:auto;
}

.imgCont h2{
color:#3cba54;
position : relative;
font-size:28px;
bottom:40px;  
/* font-weight:normal; */
/* border: 3px solid #73AD21;  */
} 

.imAge{
  position :relative;
   left:70px; 
    bottom:10px; 
  width:380px;
  height:110px;
}
/* height="130" width="450" */
.intropic1{
  display: flex;
  /* flex-direction: row; */
  /* flex-wrap: wrap; */
  /* border: black solid 3px; */
  margin-top:50px;  
  padding:30px 40px;
  width:100%;
  width:100vw;
  height:auto;
  /* background-color:#2b2b2b;  */
  }
  .imgCont1{
    flex:1;
    height:auto;
    justify-content: center;
    /* border:green solid 3px;  */
    padding :30px 40px;
    box-sizing: border-box;
    margin:auto;
  }
  .imAge1{
        
    position :relative;
    /* left:20px;  */
    bottom:10px;
    
}
  .contentClass1{
    flex:1;
    height:auto;
    justify-content: center;
    /* border: red solid 3px;  */
    padding :30px 40px;
    box-sizing: border-box;
    margin:auto;
    }
    
    .contentClass1 h2{
    color:#3cba54;
    position : relative;
    left:80px;
    font-size:28px;
    font-weight:normal; 
     /* border: 3px solid #73AD21;   */
    } 
    .contentClass1 p{
      position : relative;
      left:80px;
      font-size:1rem;
      font-weight:normal; 
       /* border: 3px solid #73AD21;   */
      } 
    .feedback{
      display:flex;
      flex-direction : column;
      flex-wrap: nowrap;
      justify-content: center;
      align-items: center;
    margin:80px;
    }
.feedback h2{
 color: #fb7e84;
 font-size:28px;
 font-weight:normal;
}
    .imAge2{
      margin:50px;
      height:50%;
      width:50%;
      border-radius: 20%;
    }
  /* :#393939 */

  .proJect h2{
    padding:20px 80px;
    text-align: center;
    color:#3cba54;
    font-size:28px;
    font-weight:normal;
  }
  .cardcontainer{
  
    margin: 10px 20px ;

  }
  .card {
    position :relative;
    z-index: -1;
  }
  .card:hover
  {
    /* transform: translateY(-5px) scale(1.005) translateZ(0);
    box-shadow: 0 24px 36px rgba(0,0,0,0.11),0 24px 46px rgba(16, 8, 66, 0.48);*/
    /* .rollover img {
        position: relative;
        display: block;
        width: 100%;
        height: auto;
        z-index: 1; */
        transition: all 0.3s ease-in-out;
        transform: translateZ(0);
    }
  
.card-body .btn{
  cursor: pointer;
  position: relative;
  padding: 1rem 1.5rem;
  border-radius: 3.75rem;
  line-height: 0.5rem;
  font-size: 1rem;
 font-weight: 600; 
 /* background:#3cba54; */
 background:#fb7e84
 
}

.card-body .btn span {
  color: white;
  /* background-image: linear-gradient(0deg, #434346 0%, #FEFAFD 100%); */
  -webkit-background-clip: text;
  background-clip: text;
  /* filter: drop-shadow(0 2px 2px rgb(34, 4, 117)); */
}
.card-body .btn::before {
  content: "";
  display: block;
  /* height: 0.05rem;  */
  position: absolute;
  top: 0.25rem;
  left: 50%;
  transform: translateX(-50%);
  width: calc(100% - 2.5rem);
  background: #fff;
  border-radius: 100%;
  opacity: 0.7;
  /* background-image: linear-gradient(-270deg, rgba(255,255,255,0.00) 0%, #FFFFFF 20%, #FFFFFF 80%, rgba(255,255,255,0.00) 100%); */
}

.card-body .btn::after {
  content: "";
  display: block;
  height: 0.1rem;
  position: absolute;
  bottom: 0.75rem;
  left: 50%;
  transform: translateX(-50%);
  width: calc(100% - 7.5rem);
  background: #fff;
  border-radius: 100%;
  filter: blur(1px);
  opacity: 0.05;
  /* background-image: linear-gradient(-270deg, rgba(255,255,255,0.00) 0%, #FFFFFF 20%, #FFFFFF 80%, rgba(255,255,255,0.00) 100%); */
}
@media only screen and (min-width: 200px) and (max-width : 414px) 
{
  .intro h1{
    position:relative;
    text-align: center; 
    font-size: 1.5em;
    font-weight: normal;
    color:#393939;
    /* z-index: 6; */
}
.intro h3{
  position:relative;
  text-align: center; 
  font-size: 0.9em;
  font-weight: normal;
  /* z-index: 6; */
}
.slideshow-container {
   display:flex;   
  justify-content: center;
  align-items: center;
  max-width: 300px;
  position: relative;
  margin: auto;
}
.mySlides img{
  width:290px;
  height:250px; 
}
.prev {
  right: 280px;
 
  border-radius: 3px 0 0 3px;
}
.dot {
  display: inline;
  cursor: pointer;
  height: 1.0rem;
  width: 1.0rem;
  text-decoration: none;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  margin: 0 0 0.5rem 0;
  position: relative;
  background-color: #bbb;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}
.intropic{
  display: inline-flex;
  flex-direction: row;
  flex-wrap: wrap;
     /* color:#3cba54; */
/* color:#fb7e84; */
  width:100vw;
  height:auto;
  /* background-color:#2b2b2b;  */
  /* color:#fb7e84; */
  /* border: red soild 3px; */
  }
  
.contentClass{
  /* keeping height and width auto so the content can be adjusted itself when differnt screens are used  */
   height: auto;  
   width:auto;
   /* border:red solid 3px; */
   /* padding:20px; */
}
 .contentClass ul{
   
    position:relative;
    /* text-align: justify;  */
    font-size: 1em;
    font-weight: normal;
    }
 .imgCont .imAge{
   position: relative;
   left:-20px;
    width:240px;
    height:80px;
} 

.intropic1{
  display: inline-flex;
  flex-direction: row;
  flex-wrap: wrap;
     /* color:#3cba54; */
/* color:#fb7e84; */
  width:100vw;
  height:auto;
  /* background-color:#2b2b2b;  */
  /* color:#fb7e84; */
   border-top:rgb(218, 218, 218) solid 3px; 
   border-bottom:rgb(218, 218, 218) solid 3px; 
  }
.imgCont1 .imAge1{
  position: relative;
  right:30px; 
 width:240px;
 height:150px;
}

.contentClass1{
  /* keeping height and width auto so the content can be adjusted itself when differnt screens are used  */
   height: auto;  
   width:auto;
   /* border:red solid 3px; */
   /* padding:20px; */
}
.contentClass1 h2{
  position:relative;
  left:30px;
  font-weight: normal;
}
.contentClass1 p{
  position:relative;
  left:10px;
  top:10px;
  font-weight: normal;
}
.feedback
{
  border-bottom: rgb(218, 218, 218) solid 1px;
}
.feedback h2{
  position:relative;
  left:30px;
  font-weight: normal;
}
.feedback .imAge2{
 width:130%;
 height:130%;
}
}
/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  
  .intropic{
      display: inline-flex;
      flex-direction: column;
      flex-wrap: wrap;
      /* border: black solid 3px; */
      padding:10px;
      margin: auto;
      width:100vw;
      height:auto;      
  }
  .contentClass{
     margin:auto; 
  }

  .imgCont{
    position:relative;
    right:55px;
    /* top:-15px;  */
  }
  .intropic1{
    display: inline-flex;
    flex-direction: column;
    flex-wrap: wrap;
    border-bottom: rgb(218, 218, 218) solid 1px;
    border-top: rgb(218, 218, 218) solid 1px;
     /* border: black solid 3px;  */
    padding:10px;
    margin: auto;
    width:100vw;
    height:auto;      
}
.imgCont1{
  margin:auto;
}
.contentClass1 h2{
  position:relative;
  left:30px;
}
.contentClass1 p{
  position:relative;
  left:10px;
}


  .card{
    position :relative;
   
  }
}

footer {
    position :relative;
    bottom :0px;
    width :100%;
    width:100vw;
    background: #eee;
    font-size:24px;
    
}

/*  styling main-footer-content div */
.main-footer-content{
    display :flex;
    flex-direction: column;
    text-align: center;
    font-size: 24px;
}
/*  creating space between social icons  */
.social_link a span{
    margin-top : 20px;
    height :20px;
    width : 60px;
    color: white ;
}

 
/* size is changing here for copy right note */
.copyRight {
    font-size : 14px;
    
}
/* color is changing here for copy right text*/
.copyRight span {
    color :#50575e; 
    font-weight:lighter; 
}
.copyRight p{
  
  text-align:center;
  color:#50575e;
  font-weight:normal;
}


